
.leadsets-index
  %h5 Leadsets

  %table.bordered
    %tr
      %th &nbsp;
      %th company_url
      %th serverhosts
      %th customer_id
      %td &nbsp;
    - @leadsets.each do |item|
      %tr
        %td
          = link_to '[~]', edit_leadset_path(item)
        %td= link_to item.company_url, leadset_path(item)
        %td= item.serverhosts.map(&:name).join(",")
        %td= item.customer_id
        %td
          = item.inspect


