<!DOCTYPE html>
<html>
<head>
  <title>Wco email</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "wco_email/application", media: "all" %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to 'Email Conversations', email_conversations_path %></li>
    </ul>
  </nav>

  <hr />
  <%= yield %>
  <hr />

</body>
</html>
