!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Wco Email
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    "wco_email/application", media: "all"
  %body
    %nav
      %ul
        %li= link_to 'Email Conversations', email_conversations_path
        %li= link_to 'Inbox', email_conversations_in_path('inbox')
    %hr
    = yield
    %hr