<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>


    <hr />
    <%= yield %>
    <hr />

    <% if current_user %>
      <%= current_user.email %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>



  </body>
</html>
