
.serverhosts-index.maxwidth
  %h5
    Serverhosts
    = link_to '[+]', new_serverhost_path

  %table.bordered
    %tr
      %th name
      %th next_port
      %th public_ip
      %th ssh_host
      -# %td &nbsp;
    - @serverhosts.each do |s|
      %tr
        %td
          = link_to s.name, edit_serverhost_path(s)
        %td= s.ssh_host
        %td= s.next_port
        %td= s.public_ip
        -# %td= s.inspect

