
.serverhosts-index.maxwidth
  %h5
    Serverhosts
    = link_to '[+]', new_serverhost_path

  %table.bordered
    %tr
      %th name
      %th ssh_host
      %th public_ip
      %th next_port
      -# %td &nbsp;
    - @serverhosts.each do |ser|
      %tr
        %td
          = link_to '[~]', edit_serverhost_path(ser)
          = ser.name
        %td= ser.ssh_host
        %td= ser.public_ip
        %td= ser.next_port
        -# %td= ser.inspect

