!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Wco Hosting

    = javascript_include_tag "wco/application"
    = stylesheet_link_tag    "wco/application", media: "all"

    = javascript_include_tag "wco_hosting/application"
    = stylesheet_link_tag    "wco_hosting/application", media: "all"

    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render 'wco/main_header'
    = render "/wco_hosting/main_header"

    = render '/wco/alerts_notices'
    %hr

    = yield
    %hr

    %script{:src => "https://js.stripe.com/v3/"}
    :javascript
      stripe = Stripe('#{::STRIPE_PK}', { apiVersion: '2020-08-27' });
