!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Wco Hosting
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    "wco_hosting/application", media: "all"
  %body

    %h1 Wco Hosting
    %nav
      %ul
        %li= link_to 'Wco::Leadsets', leadsets_path
        %li= link_to 'AppliancesTmpl`s', appliance_tmpls_path
        %li= link_to 'Serverhosts', serverhosts_path
    %hr

    = render '/wco/application/alerts_notices'
    %hr

    = yield
    %hr

