
- url = appliance_tmpl.new_record? ? appliance_tmpls_path : appliance_tmpl_path( appliance_tmpl )

.appliance-tmpls--form
  = form_for appliance_tmpl, as: :tmpl, url: url do |f|
    .actions
      = f.submit 'Submit'


      -# = f.select :leadset_ids, options_for_select( @leadsets_list, selected: appliance_tmpl.leadset_ids ), {}, { multiple: true }

    .d-flex
      = f.label :kind
      = f.text_field :kind, style: 'flex-grow: 1'

      = f.label :version
      = f.text_field :version
    .field
      = f.label :descr
      = f.text_area :descr
    .field
      = f.label :image
      = f.text_field :image, class: 'w-100'
    .field
      %label volume_zip
      = f.text_field :volume_zip, class: 'w-100'
    -# .field
    -#   %label Price in Cents
    -#   = f.number_field :tmp_price_cents
    -#   %label Price interval
    -#   = f.select :tmp_price_interval, options_for_select( Wco::Price::INTERVALS ), class: 'select2'

    .actions
      = f.submit 'Submit'

    .prices
      %label Prices
      %ul
        - appliance_tmpl.prices.each do |price|
          %li= price.inspect


  = appliance_tmpl.inspect