
.appliance-tmpls-index.maxwidth
  %h5
    ApplianceTmpl's
    = link_to '[+]', new_appliance_tmpl_path

  %table.bordered
    %tr
      %th &nbsp;
      %th kind
      %th version
      %th image
      %th volume_zip
      %th prices

    - @appliance_tmpls.each do |tmpl|
      %tr
        %td
          .d-flex
            = link_to '[~]', edit_appliance_tmpl_path(tmpl)
            = button_to 'x', appliance_tmpl_path(tmpl), method: :delete, data: { confirm: 'Are you sure?' }
        %td= tmpl.kind
        %td= tmpl.version
        %td= tmpl.image
        %td= tmpl.volume_zip
        %td
          %b Product:
          .gray= tmpl.product_id
          %ul
            - tmpl.prices.each do |price|
              %li
                .d-flex
                  = button_to 'x', wco.price_path(price), method: :delete, data: { confirm: 'Are you sure?' }
                  = price
                .gray.mini= price.price_id
      -# %td
      -#   %td{ colspan: 6 }= tmpl.inspect

