
.appliance-tmpls-index
  %h5
    ApplianceTmpl's
    = link_to '[+]', new_appliance_tmpl_path

  %table.bordered
    %tr
      %th &nbsp;
      %th kind
      %th version
      %th image
      %th volume_zip
      %th price
      %td &nbsp;

    - @appliance_tmpls.each do |tmpl|
      %tr
        %td
          = link_to '[~]', edit_appliance_tmpl_path(tmpl)
        %td= tmpl.kind
        %td= tmpl.version
        %td= tmpl.image
        %td= tmpl.volume_zip
        %td
          = tmpl.price
          %br
          = tmpl.price_id
        %td= tmpl.inspect

